{% extends "base/base.html" %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="auth-page">

  <div class="auth-card">

    <h3 class="auth-title">Login</h3>

    <form method="post" class="auth-form">
      {% csrf_token %}

      <div class="form-field">
        <label>Username</label>
        <input type="text" name="username">
      </div>

      <div class="form-field">
        <label>Password</label>
        <input type="password" name="password">
      </div>

      <div class="form-actions">
        <button type="submit">
          Login
        </button>
      </div>

    </form>

  </div>

</div>

{% endblock %}
