{% extends "base/base.html" %}
{% block title %}All Teachers{% endblock %}

{% block content %}

<div class="container">

  <a href="{% url 'principal_dashboard' %}">⬅ Back to Dashboard</a>

  <h3 class="page-heading">All Teachers</h3>

  <table class="data-table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Employee ID</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for t in teachers %}
      <tr>
        <td>{{ t.user.username }}</td>
        <td>{{ t.employee_id }}</td>
        <td>
          <a href="{% url 'principal_teacher_detail' t.id %}">View Details</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="3" class="empty-text">No teachers found</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}